.account {
    &__flex {
        display: flex;
        align-items: center;
    }

    &__index {
        font-weight: 400;
        font-size: 14px;
        color: #3A444E;
    }

    &__btn_delete {
        border: none;
        background: red;
        border-radius: 50%;
        font-weight: 700;
        font-size: 12px;
        color: #FFFFFF;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08);
        cursor: pointer;
        margin-left: 10px;
    }

    &__box {
        background: #FFFFFF;
        border: 1px solid rgba(208, 213, 219, 0.5);
        border-radius: 4px;
        height: 36px;
        margin: 14px 15px 7px 21px;
        padding: 8px 16px;
    }

    &__label {
        font-weight: 400;
        font-size: 10px;
        color: #A5A9AD;
        display: block;
    }

    &__input {
        font-weight: 400;
        font-size: 14px;
        color: #3A444E;
        border: none;
        width: 100%;
        outline: none;
    }

    &__status {
        font-weight: 400;
        font-size: 12px;
        color: #F33F18;
        margin: 0 0 11px 25px;
    }

    &__btn_add {
        padding: 10px 25px;
        border: none;
        background: #00B1AB;
        border-radius: 100px;
        font-weight: 700;
        font-size: 12px;
        color: #FFFFFF;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08);
        cursor: pointer;
        margin: 0 0 10px 25px;

        &:hover {
            background: linear-gradient(180deg, #00B1AB 0%, #00827D 100%);
        }
    }

    &__checkbox {
        display: flex;
        margin: 0 0 40px 23px;

        &_input {
            margin-right: 8px;
            cursor: pointer;
        }

        &_label {
            font-weight: 700;
            font-size: 12px;
            color: #3A444E;
            a {
                color: #00529B;
                cursor: pointer;
                text-decoration-line: underline;
            }
        }
    }

    &__submit_box {
        margin: 0 17px 0 19px;
    }

    &__submit {
        width: 100%;
        height: 52px;
        background: #00B1AB;
        border: none;
        border-radius: 42px;
        font-weight: 700;
        font-size: 16px;
        color: #FFFFFF;
        cursor: pointer;

        &:hover {
            background: linear-gradient(180deg, #00B1AB 0%, #00827D 100%);
        }

        &:disabled {
            background: #D0D5DB;
        }
    }

}