<div class="account">
    <form [formGroup]="accountForm" novalidate (ngSubmit)="submit()">
        <div formArrayName="account">
            <div *ngFor="let account of getFormsControls()['controls']; let i = index">
                <div class="account__flex">
                    <p class="account__index">{{i+1}}.</p>
                    <button class="account__btn_delete" *ngIf="i != 0" type="button" (click)="deleteAccount(i)">X</button>
                </div>

                <div [formGroupName]="i">
                    <div class="account__box">
                        <label for="bik" class="account__label">БИК</label>
                        <input type="text" name="bik" formControlName="bik" 
                            class="account__input" (click)="clickInput()">
                    </div>
                    <p class="account__status">
                        {{getErrorMessageBik(i)}}
                    </p>
                    <div class="account__box">
                        <label for="account" class="account__label">Расчетный счёт</label>
                        <input type="text" name="account" formControlName="account" 
                            class="account__input" (click)="clickInput()">
                    </div>
                    <p class="account__status">
                        {{getErrorMessageAccount(i)}}
                    </p>

                    <p class="account__status" *ngIf="status[i] == 1" 
                        style="color: green">
                        Счет указан корректно
                    </p>
                    <p class="account__status" *ngIf="status[i] == 2"
                        style="color: red">
                        Указан неверный номер счета
                    </p>
                </div>
            </div>
        </div>

        <button class="account__btn_add" type="button" (click)="addAccount()" 
            *ngIf="isAddAccount < 3">Добавить счет
        </button>

        <div class="account__checkbox">
            <input type="checkbox" name="terms" formControlName="terms" 
                class="account__checkbox_input" 
                (click)="clickInput()">
            <label for="terms" class="account__checkbox_label">
                Согласен с <a (click)="openTerms()">условиями</a>
            </label> 
        </div>
       
        <div class="account__submit_box">
            <input type="submit" class="account__submit" value="Проверить" 
                [disabled]="accountForm.invalid">
        </div>
    </form>
</div>

<app-terms *ngIf="isTerms" (onAgree)="onAgree($event)"></app-terms>