<div class="footer">
    <div class="footer__content">
        <p class="footer__content_title">+7 800 100-32-00</p>
        <p class="footer__content_subtitle">
            для бесплатных звонков <br>на территории России
        </p>
        <p class="footer__content_title">+7 495 777-41-50</p>
        <p class="footer__content_subtitle">
            для звонков из любой точки мира 
            <br>(по тарифам вашего оператора связи)
        </p>
        <p class="footer__content_rights">© ТрансКапиталБанк, 2021</p>
    </div>
</div>